img,.profile-img,#front-image{ margin-top: 0;}

h1, h2, h3 {
  font-family: 'Young Serif', serif;
}

body, p, li, span {
  font-family: 'Outfit', sans-serif;
}

.Preparation{background-color:#FFF5FA;
  padding-top: 19px;
  max-width: 300px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  height: 180px;
  margin-left: ;
}

.Preparation .p-text{ color: #7B284F;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
padding-left: 17px;
}
h1{color: #312E2C;
  padding-top: 35px;
  max-width: 250px;
  font-weight: bold;}
  
 p ,li {color:#5F564D; }
 
 .text {margin:18px 0 30px 0;}
 
 ul li::marker{color:#7B284F;
   
 }
 
 li{margin-bottom:8px;}
 
 .whole{
   width:320px;
   margin: 0 auto;
 }
 
 h2{color:#854632;}
 
 ol li::marker{color:#854632;}
 
 .nutrition{margin-bottom:15px;
   margin-top: 30px;
 }
 
 .instruction{margin-bottom:20px;
   margin-top: 30px;}
   
   h1,h2{font-weight: bold;}
   
.color  {
     margin-left: 40px;
   }
   .colo{margin-left:53px;}
   .col{margin-left:44px;}
   .co{margin-left:69px;}
   
   .color,.colo,.col,.co{color:#854632;
     font-weight: bold;
   }


@media screen and (min-width:600px ){
  body{background-color:#F3E5D8;
  display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 140px 0;
  }
  .everything {background-color:white;
    border-radius:15px;
    
    padding-block: 40px;
    width: 900px;
    margin: 0 auto;
  }
   .profile-img {
    width: 100%;
    margin: 0;
    padding: 0;
    padding:0 29px 0 29px;
  }
  
  .profile-img img{width:100%;
    height: auto;
    display: block;
    border-radius: 15px !important;
    
  }
  
  .whole{width:800px;}
  
  .Preparation {max-width:100%;}
  h1{max-width:100% !important;}
    }
